main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

#albums{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.album-entry {
  border: 1px solid black;
  width: 200px;
  margin: 20px;
  padding: 10px;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.album{
  padding: 5px;
}

